{% extends "SALouvreBundle::layout.html.twig" %}


    {% block body %}
        Réservation faite pour le :
        {# orders.visiteDate #} </br>
        Pour un montant total de :
        {{ orders.price }} € </br></br>

         	 {% for list , ticket in app.session.get('orders').tickets %}
			 	 Billet n°{{ list + 1 }}</br> 
                 Réservant : {{ ticket.firstname }}  {{ ticket.lastname}}</br>
                 Prix du Billet : {{ ticket.price }}€</br> 
                 </br>
                 </br> 
			  {% endfor %}

			
    	<form action="/checkout" method="post" id="payment-form">
    		
    		<div class="form-group">
    	        <label class="col-sm-6 control-label control-label required" for="sa_louvrebundle_orders_email">Votre adresse mail</label>
  			<!--</div>
  			<div class="col-sm-10">-->
      			<input type="text" id="sa_louvrebundle_orders_email" name="sa_louvrebundle_orders_email" required="required" class="form-control form-control">
    		</div>
    		
    		<label for="card-element">
		      Votre numero de carte de credit
		    </label>
		    <div id="card-element">
		      <!-- A Stripe Element will be inserted here. -->
		    </div>

		    <!-- Used to display form errors. -->
		    <div id="card-errors" role="alert"></div>
		  	</br>

		  <button class="btn btn-secondary">Payer</button>
		</form>     
		
     
    {% endblock %}
    
    {% block stripe %}
        
               
        <script src="https://js.stripe.com/v3/"></script>
        
        <script>
        	var stripe = Stripe('pk_test_vCOt2UBTn3CGvrYqwDxmkyre');
        	var elements = stripe.elements();
        	
        	// Custom styling can be passed to options when creating an Element.
        	var style = {
        	  base: {
        	    // Add your base input styles here. For example:
        	    fontSize: '16px',
        	    color: "#32325d",
        	  }
        	};

        	// Create an instance of the card Element.
        	var card = elements.create('card', {style: style});

        	// Add an instance of the card Element into the `card-element` <div>.
        	card.mount('#card-element');
        	
        	card.addEventListener('change', function(event) {
        		  var displayError = document.getElementById('card-errors');
        		  if (event.error) {
        		    displayError.textContent = event.error.message;
        		  } else {
        		    displayError.textContent = '';
        		  }
        		});
        	
        	// Create a token or display an error when the form is submitted.
        	var form = document.getElementById('payment-form');
        	form.addEventListener('submit', function(event) {
        	  event.preventDefault();

        	  stripe.createToken(card).then(function(result) {
        	    if (result.error) {
        	      // Inform the customer that there was an error.
        	      var errorElement = document.getElementById('card-errors');
        	      errorElement.textContent = result.error.message;
        	    } else {
        	      // Send the token to your server.
        	      stripeTokenHandler(result.token);
        	    }
        	  });
        	});
        	
        	function stripeTokenHandler(token) {
        		  // Insert the token ID into the form so it gets submitted to the server
        		  var form = document.getElementById('payment-form');
        		  var hiddenInput = document.createElement('input');
        		  hiddenInput.setAttribute('type', 'hidden');
        		  hiddenInput.setAttribute('name', 'stripeToken');
        		  hiddenInput.setAttribute('value', token.id);
        		  form.appendChild(hiddenInput);

        		  // Submit the form
        		  form.submit();
        		}
        </script>
        
        
        
       
    {% endblock %}