<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Billetterie Louvre</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{{ asset('bundles/salouvre/bell/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Libraries CSS Files -->
  <link href="{{ asset('bundles/salouvre/bell/lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{ asset('bundles/salouvre/bell/css/style.css') }}" rel="stylesheet">
  <link href="{{ asset('bundles/salouvre/bell/css/stripe.css') }}" rel="stylesheet">
  
  <!-- =======================================================
    Theme Name: Bell
    Theme URL: https://bootstrapmade.com/bell-free-bootstrap-4-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>
  <!-- Page Content
    ================================================== -->
  <!-- Hero -->

  <section class="hero">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <a class="hero-brand" href="index.html" title="Home"><img alt="Bell Logo" src="https://i.imgur.com/822CuvC.png"></a>
        </div>
      </div>

      <div class="col-md-12">
        <h1>
            Billetterie en ligne
          </h1>

        <p class="tagline">
          Faites vos réservations simplement et rapidement directement sur ce site pour éviter les files d'attentes.
        </p>
        <a class="btn btn-full" href="#contact">Réserver</a>
      </div>
    </div>

  </section>
  <!-- /Hero -->

  <!-- Header -->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="index.html"><img src="https://i.imgur.com/822CuvC.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Bell</a></h1>-->
      </div>

      
      <!-- #nav-menu-container -->

      
    </div>
  </header>
	<section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="section-title">Tarifs</h2>
        </div>
      </div>

      <div class="row justify-content-center">
          <div class="info">
            <div class="panel-body">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Normal</th>
                                <th>Enfant *</th>
                                <th>Senior</th>
                                <th>Reduit **</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Tarif Journée</th>
                                <td>16€</td>
                                <td>8€</td>
                                <td>12€</td>
                                <td>10€</td>
                            </tr>
                            <tr>
                                <th>Tarif Demi-Journée</th>
                                <td>8€</td>
                                <td>4€</td>
                                <td>6€</td>
                                <td>5€</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        <strong>*</strong> Gratuit pour les enfants de moins de 4 ans.
                    </p>
                    <p>
                        <strong>**</strong> Sous présentation d'un justificatif
                    </p>
                </div>
			</div>
        

        

      </div>
    </div>
  </section>
            
            
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="section-title">Réserver un billet</h2>
        </div>
      </div>

		      

        <div class="col-lg-5 col-md-8">
          <div class="form">
            {% block body %}{% endblock %}                       
          </div>
          <div>
          	{% block stripe %}{% endblock %}
          </div>
        </div>

      </div>
    
  </section>

  <footer class="site-footer">
    <div class="bottom">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-xs-12 text-lg-left text-center">
            <p class="copyright-text">
              © BELL Theme
            </p>
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bell
              -->
             Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
          </div>

          <div class="col-lg-6 col-xs-12 text-lg-right text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="index.html">Home</a>
              </li>

              <li class="list-inline-item">
                <a href="#about">About Us</a>
              </li>

              <li class="list-inline-item">
                <a href="#features">Features</a>
              </li>

              <li class="list-inline-item">
                <a href="#portfolio">Portfolio</a>
              </li>

              <li class="list-inline-item">
                <a href="#team">Team</a>
              </li>

              <li class="list-inline-item">
                <a href="#contact">Contact</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </footer>
  <a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a>


  <!-- Required JavaScript Libraries -->

<!-- ==================================================== -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{{ asset('bundles/salouvre/bell/lib/jquery/jquery-migrate.min.js') }}"></script>
  <script src="{{ asset('bundles/salouvre/bell/lib/superfish/hoverIntent.js') }}"></script>
  <script src="{{ asset('bundles/salouvre/bell/lib/superfish/superfish.min.js') }}"></script>
  <script src="{{ asset('bundles/salouvre/bell/lib/tether/js/tether.min.js') }}"></script>
  <script src="{{ asset('bundles/salouvre/bell/lib/stellar/stellar.min.js') }}"></script>
  <script src="{{ asset('bundles/salouvre/bell/lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ asset('bundles/salouvre/bell/lib/counterup/counterup.min.js') }}"></script>
  <script src="{{ asset('bundles/salouvre/bell/lib/waypoints/waypoints.min.js') }}"></script>
  <script src="{{ asset('bundles/salouvre/bell/lib/easing/easing.js') }}"></script>
  <script src="{{ asset('bundles/salouvre/bell/lib/stickyjs/sticky.js') }}"></script>
  <script src="{{ asset('bundles/salouvre/bell/lib/lockfixed/lockfixed.min.js') }}"></script>
  

  <!-- Template Specisifc Custom Javascript File -->
  <script src="{{ asset('bundles/salouvre/js/custom.js') }}"></script>
  <script src="{{ asset('bundles/salouvre/contactform/contactform.js') }}"></script>
  
  <!-- Scripts persos -->
  
  <!--  DatePicker  -->
  <script>
  	$( document ).ready(function() {
  		var array = ["2018-05-01","2018-11-01","2018-12-25"]  			
  			$( "#sa_louvrebundle_orders_visiteDate" ).datepicker({
  				minDate : 0,
  				beforeShowDay: function(date) {
  		     	    var day = date.getDay();  		     	    
	  		        var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
	  		        return [ array.indexOf(string) == -1 && (day != 2), '' ];
	  		    }	
  			});   		
  		});  			
  </script>
  

  <!--  Embeded Form  -->

  <script type="text/javascript">
  	$(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#sa_louvrebundle_orders_tickets');

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $('#sa_louvrebundle_orders_NbTickets').change(function(e) {
        var totaltickets = $(this).val();
        $container.empty();
        index = 0
        for (var iter = 0; iter < totaltickets; iter++) {
    	    addTicket($container);
        }
      
      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
  //  if (index == 0) {
    //  addTicket($container);
    //} else {
      // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
     // $container.children('div').each(function() {
     //   addDeleteLink($(this));
    //  });
   // }

    // La fonction qui ajoute un formulaire TicketType
    function addTicket($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var template = $container.attr('data-prototype')
        .replace(/__name__label__/g, 'Ticket n°' + (index+1))
        .replace(/__name__/g,        index)
      ;

      // On crée un objet jquery qui contient ce template
      var $prototype = $(template);

      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
      addDeleteLink($prototype);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }

    // La fonction qui ajoute un lien de suppression d'un ticket
    function addDeleteLink($prototype) {
      // Création du lien
      var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

      // Ajout du lien
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
      $deleteLink.click(function(e) {
        $prototype.remove();

        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });   
  </script>
  
</body>
</html>
